{{ bos_token }}
{%- if messages[0]['role'] == 'system' -%}
    {{ '<start_of_turn>user\n' + messages[0]['content'] + '\n\n' }}
    {%- set loop_messages = messages[1:] -%}
{%- else -%}
    {%- set loop_messages = messages -%}
{%- endif -%}

{%- for message in loop_messages -%}
    {%- if message['role'] == 'user' -%}
        {%- if not (loop.first and messages[0]['role'] == 'system') -%}
            {{ '<start_of_turn>user\n' }}
        {%- endif -%}
        {{ message['content'] | trim }}
        {{ '<end_of_turn>\n' }}
    {%- elif message['role'] == 'model' -%}
        {{ '<start_of_turn>model\n' }}
        {%- if message.get('thought') -%}
            {{ '<thought>\n' + message['thought'] | trim + '\n</thought>\n' }}
        {%- endif -%}
        {%- if message.get('tool_calls') -%}
            {%- for tool_call in message['tool_calls'] -%}
                {{ '<call:' + tool_call['name'] + '>\n' }}
                {{ tool_call['arguments'] | tojson }}
                {{ '\n</call:' + tool_call['name'] + '>\n' }}
            {%- endfor -%}
        {%- endif -%}
        {%- if message.get('content') -%}
            {{ message['content'] | trim }}
        {%- endif -%}
        {{ '<end_of_turn>\n' }}
    {%- elif message['role'] == 'tool' -%}
        {{ '<start_of_turn>tool\n' }}
        {%- set tool_name = message.get('name', 'tool') -%}
        {{ '<response:' + tool_name + '>\n' }}
        {{ message['content'] | trim }}
        {{ '\n</response:' + tool_name + '>\n' }}
        {{ '<end_of_turn>\n' }}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{ '<start_of_turn>model\n' }}
{%- endif -%}
